<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome</h1> -->
    <textarea type="text" placeholder="Message" id="msg-input"></textarea>
    <img src="" alt="Screenshot" class="screenshot">


    <style>
        body {
            margin: 0;
            overflow: hidden;
            background-color: #000;
        }
        .screenshot {
            width: 100vw;
            height: 100vh;
            scale: 0.5;
            position: relative;
            object-position: left top;
        }
    </style>

    <script>
        const msgInput = document.querySelector('#msg-input')
        const screenshotImage = document.querySelector('.screenshot');
        window.onload(
            setInterval(() => {
                fetch('/screen')
                    .then(response => response.json())
                    .then(data => {
                        screenshotImage.src = 'data:image/png;base64, ' + data.imageBuffer;
                    })
                    .catch(error => {
                        console.error('Error updating image:', error);
                    });
            }, 200)
        )

        addEventListener('keyup', (e) => {
            if (e.key == 'Control') {
                fetch('/text', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ "msg": msgInput.value })
                })
                .catch(error => {
                    console.error('Error opening text file: ', error)
                })
                msgInput.value = ''
            }
        })
    </script>
</body>
</html>